.list-contain{
    margin:2% 30%;
    text-align: center;
}
header{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: 0.7em;
    font-weight:bold;
    color:#3d2f2c;
    font-size:150%;
}
#page{
    width: 20%;
    text-align: center;
}
.addmenu{
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(101, 196, 101);
    color: white;
    padding: 1%;
}
table{
    border-spacing: 10px;
    margin: 2% auto 0;
    background-color: #F8D4A4;
    border-radius: 10px;
    padding: 2%;
}
.menubt{
    cursor: pointer;
    margin-right:2%;
    border-radius: 10px;
    padding: 5%;
    color: rgb(0, 0, 0);
    background-color: #c1986d;
}
.menubt:hover{
    background-color: white;
}
@media (max-width:415px) {
    header{
        font-size: 150%;
    }
    .list-contain{
        margin:auto;
        text-align: center;
    }
    table{
        border-spacing: 10px;
        margin: 20px;
        background-color: #F8D4A4;
        border-radius: 10px;
        padding: 2%;
        font-size: 12px;
    }
}

@media (min-width:415px) and (max-width:900px) {
    header{
        font-size: 200%;
    }
    .list-contain{
        margin:auto;
        text-align: center;
    }
    table{
        border-spacing: 10px;
        margin: auto;
        margin-top: 10px;
        background-color: #F8D4A4;
        border-radius: 10px;
        padding: 2%;
        font-size: 22px;
        align-items: center;
    }
    #page{
        font-size: 20px;
    }
}